build/
src/.vscode/c_cpp_properties.json
Games/UTYDemo11/options.ini
Games/UTYDemo11/snd_crispyrelease.ogg
Games/UTYDemo11/snd_doorclose.ogg
Games/UTYDemo11/snd_doorlock.ogg
Games/UTYDemo11/snd_pops_deflate.ogg
Games/UTYDemo11/snd_wood_flowey.ogg
Games/UTYDemo11/snd_wood_pull.ogg
Games/UTYDemo11/snd_wood_zap.ogg
Games/UTYDemo11/splash.png
Games/UTYDemo11/Undertale Yellow.exe
.gitignore
Games/Undertale-Yellow-Demo/D3DX9_43.dll
Games/Undertale-Yellow-Demo/data.win
Games/Undertale-Yellow-Demo/mus_battle1.ogg
Games/Undertale-Yellow-Demo/mus_coolestcave.ogg
Games/Undertale-Yellow-Demo/mus_credits.ogg
Games/Undertale-Yellow-Demo/mus_cymbal.ogg
Games/Undertale-Yellow-Demo/mus_dalv.ogg
Games/Undertale-Yellow-Demo/mus_dalventertainer.ogg
Games/Undertale-Yellow-Demo/mus_dalvopening.ogg
Games/Undertale-Yellow-Demo/mus_darkruins.ogg
Games/Undertale-Yellow-Demo/mus_decibat.ogg
Games/Undertale-Yellow-Demo/mus_fallendownyellow.ogg
Games/Undertale-Yellow-Demo/mus_flowey.ogg
Games/Undertale-Yellow-Demo/mus_funsized.ogg
Games/Undertale-Yellow-Demo/mus_genobattle.ogg
Games/Undertale-Yellow-Demo/mus_intro.ogg
Games/Undertale-Yellow-Demo/mus_intronoise.ogg
Games/Undertale-Yellow-Demo/mus_justice.ogg
Games/Undertale-Yellow-Demo/mus_menu2.ogg
Games/Undertale-Yellow-Demo/mus_null.ogg
Games/Undertale-Yellow-Demo/mus_prebattle1.ogg
Games/Undertale-Yellow-Demo/mus_ruins_yellow.ogg
Games/Undertale-Yellow-Demo/mus_spook.ogg
Games/Undertale-Yellow-Demo/mus_startmenu.ogg
Games/Undertale-Yellow-Demo/mus_wind.ogg
Games/Undertale-Yellow-Demo/options.ini
Games/Undertale-Yellow-Demo/snd_crispyrelease.ogg
Games/Undertale-Yellow-Demo/snd_doorclose.ogg
Games/Undertale-Yellow-Demo/snd_doorlock.ogg
Games/Undertale-Yellow-Demo/snd_pops_deflate.ogg
Games/Undertale-Yellow-Demo/snd_wood_flowey.ogg
Games/Undertale-Yellow-Demo/snd_wood_pull.ogg
Games/Undertale-Yellow-Demo/snd_wood_zap.ogg
Games/Undertale-Yellow-Demo/splash.png
Games/Undertale-Yellow-Demo/Undertale Yellow.exe
Games/UTY122/data.win
Games/UTY122/options.ini
Games/UTY122/splash.png
Games/UTY122/Undertale Yellow.exe
Games/UTY122/mus/a_call_to_action.ogg
Games/UTY122/mus/a_new_partner.ogg
Games/UTY122/mus/a_place_to_rest.ogg
Games/UTY122/mus/abandoned.ogg
Games/UTY122/mus/acquittal.ogg
Games/UTY122/mus/after_hours.ogg
Games/UTY122/mus/ajourned.ogg
Games/UTY122/mus/ambient_river.ogg
Games/UTY122/mus/apex.ogg
Games/UTY122/mus/apprehension_yellow.ogg
Games/UTY122/mus/asgoreop.ogg
Games/UTY122/mus/aviation.ogg
Games/UTY122/mus/axis_chase.ogg
Games/UTY122/mus/bailador_overworld.ogg
Games/UTY122/mus/barrier.ogg
Games/UTY122/mus/battle_snowdin.ogg
Games/UTY122/mus/birdnoise.ogg
Games/UTY122/mus/birdsofafeather.ogg
Games/UTY122/mus/blossom.ogg
Games/UTY122/mus/build_a_bot.ogg
Games/UTY122/mus/cafe_arcade.ogg
Games/UTY122/mus/cafe.ogg
Games/UTY122/mus/card_game.ogg
Games/UTY122/mus/change_of_plans.ogg
Games/UTY122/mus/complex.ogg
Games/UTY122/mus/computer_ambience.ogg
Games/UTY122/mus/coolestcave.ogg
Games/UTY122/mus/corner_of_a_circle.ogg
Games/UTY122/mus/credits.ogg
Games/UTY122/mus/crescendo_of_dread.ogg
Games/UTY122/mus/cymbal.ogg
Games/UTY122/mus/dalv_diary.ogg
Games/UTY122/mus/dalvbattle_yellow.ogg
Games/UTY122/mus/dalventertainer.ogg
Games/UTY122/mus/dalvopening_yellow.ogg
Games/UTY122/mus/danza_attack_01_yellow.ogg
Games/UTY122/mus/danza_attack_02_yellow.ogg
Games/UTY122/mus/danza_attack_03_yellow.ogg
Games/UTY122/mus/danza_attack_04_yellow.ogg
Games/UTY122/mus/danza_attack_05_yellow.ogg
Games/UTY122/mus/danza_attack_06_yellow.ogg
Games/UTY122/mus/danza_attack_07_yellow.ogg
Games/UTY122/mus/danza_attack_08_yellow.ogg
Games/UTY122/mus/danza_attack_09_yellow.ogg
Games/UTY122/mus/danza_attack_10_yellow.ogg
Games/UTY122/mus/danza_attack_finale_01_yellow.ogg
Games/UTY122/mus/danza_attack_finale_02_yellow.ogg
Games/UTY122/mus/danza_attack_finale_yellow.ogg
Games/UTY122/mus/danza_attack_inst_01_yellow.ogg
Games/UTY122/mus/danza_attack_inst_02_yellow.ogg
Games/UTY122/mus/danza_attack_inst_03_yellow.ogg
Games/UTY122/mus/danza_attack_inst_04_yellow.ogg
Games/UTY122/mus/danza_attack_inst_05_yellow.ogg
Games/UTY122/mus/danza_attack_inst_06_yellow.ogg
Games/UTY122/mus/danza_attack_inst_07_yellow.ogg
Games/UTY122/mus/danza_attack_inst_08_yellow.ogg
Games/UTY122/mus/danza_attack_inst_09_yellow.ogg
Games/UTY122/mus/danza_attack_inst_10_yellow.ogg
Games/UTY122/mus/danza_attack_inst_finale_01_yellow.ogg
Games/UTY122/mus/danza_attack_inst_finale_02_yellow.ogg
Games/UTY122/mus/danza_battle_yellow.ogg
Games/UTY122/mus/darkruins.ogg
Games/UTY122/mus/deal_em_out_ace_yellow.ogg
Games/UTY122/mus/deal_em_out_ed_yellow.ogg
Games/UTY122/mus/deal_em_out_mooch_yellow.ogg
Games/UTY122/mus/deal_em_out_moray_yellow.ogg
Games/UTY122/mus/deal_em_out_yellow.ogg
Games/UTY122/mus/decibat_yellow.ogg
Games/UTY122/mus/delivery_intro.ogg
Games/UTY122/mus/delivery.ogg
Games/UTY122/mus/detainment.ogg
Games/UTY122/mus/detour.ogg
Games/UTY122/mus/dual_short.ogg
Games/UTY122/mus/dual.ogg
Games/UTY122/mus/dunes_cave_outdoors.ogg
Games/UTY122/mus/dunes_cave.ogg
Games/UTY122/mus/elevator.ogg
Games/UTY122/mus/enter_axis.ogg
Games/UTY122/mus/f_laugh.ogg
Games/UTY122/mus/f_newlaugh.ogg
Games/UTY122/mus/f_phase2_clay.ogg
Games/UTY122/mus/f_phase2_lowpoly.ogg
Games/UTY122/mus/f_phase2_mechanical.ogg
Games/UTY122/mus/f_phase2_organic.ogg
Games/UTY122/mus/f_phase2_paper.ogg
Games/UTY122/mus/f_phase2_yarn.ogg
Games/UTY122/mus/fallendownyellow.ogg
Games/UTY122/mus/feisty.ogg
Games/UTY122/mus/final_stand.ogg
Games/UTY122/mus/flock_together.ogg
Games/UTY122/mus/flowey_final_boss_1_intro.ogg
Games/UTY122/mus/flowey_final_boss_1_main.ogg
Games/UTY122/mus/flowey_roof_intro_1.ogg
Games/UTY122/mus/flowey_roof_intro_2.ogg
Games/UTY122/mus/flowey_soundscape.ogg
Games/UTY122/mus/flowey_world.ogg
Games/UTY122/mus/floweynew_yellow.ogg
Games/UTY122/mus/funsized_yellow.ogg
Games/UTY122/mus/gameover_yellow.ogg
Games/UTY122/mus/gemstone_fever.ogg
Games/UTY122/mus/genobattle_yellow.ogg
Games/UTY122/mus/getting_the_thoughts_out.ogg
Games/UTY122/mus/gift_1.ogg
Games/UTY122/mus/gift_2.ogg
Games/UTY122/mus/gimme_ur_cash_yellow.ogg
Games/UTY122/mus/golden_opportunity.ogg
Games/UTY122/mus/gotcha.ogg
Games/UTY122/mus/greenhouse.ogg
Games/UTY122/mus/guardener_theme.ogg
Games/UTY122/mus/guns_blazing_geno.ogg
Games/UTY122/mus/guns_blazing.ogg
Games/UTY122/mus/gunshop.ogg
Games/UTY122/mus/happy_hour.ogg
Games/UTY122/mus/heatwave_approaching.ogg
Games/UTY122/mus/honest_days_work.ogg
Games/UTY122/mus/honeydew_bark.ogg
Games/UTY122/mus/honeydew_dalv.ogg
Games/UTY122/mus/honeydew_lodge.ogg
Games/UTY122/mus/honeydew_ruins.ogg
Games/UTY122/mus/honeydew_snow.ogg
Games/UTY122/mus/intro.ogg
Games/UTY122/mus/intronoise.ogg
Games/UTY122/mus/justice.ogg
Games/UTY122/mus/kanako_reprise.ogg
Games/UTY122/mus/kanako.ogg
Games/UTY122/mus/lounging_around.ogg
Games/UTY122/mus/mart_geno_wind_yellow.ogg
Games/UTY122/mus/martletbattle_yellow.ogg
Games/UTY122/mus/medium.ogg
Games/UTY122/mus/menu_darkruins.ogg
Games/UTY122/mus/menu_options.ogg
Games/UTY122/mus/menu_ruins.ogg
Games/UTY122/mus/menu_snowdin.ogg
Games/UTY122/mus/menu_wild_east.ogg
Games/UTY122/mus/mew_boss.ogg
Games/UTY122/mus/mew_intro.ogg
Games/UTY122/mus/mew_logo.ogg
Games/UTY122/mus/mew.ogg
Games/UTY122/mus/micro_temperature.ogg
Games/UTY122/mus/missing_inaction.ogg
Games/UTY122/mus/mixin_it_up.ogg
Games/UTY122/mus/mothers_love_intro.ogg
Games/UTY122/mus/mothers_love_phase_1.ogg
Games/UTY122/mus/mothers_love_phase_2.ogg
Games/UTY122/mus/mothers_love_phase_3_buildup.ogg
Games/UTY122/mus/mothers_love_phase_3.ogg
Games/UTY122/mus/mothers_love_temp.ogg
Games/UTY122/mus/nobodycame_yellow.ogg
Games/UTY122/mus/nothing_but_the_truth.ogg
Games/UTY122/mus/notsoquietstray.ogg
Games/UTY122/mus/null.ogg
Games/UTY122/mus/oasis_indoors.ogg
Games/UTY122/mus/oasis.ogg
Games/UTY122/mus/occupied_turf_yellow.ogg
Games/UTY122/mus/ones_past.ogg
Games/UTY122/mus/pipin_hot_yellow.ogg
Games/UTY122/mus/prebattle1_yellow.ogg
Games/UTY122/mus/prebattle2_yellow.ogg
Games/UTY122/mus/prebattle3_yellow.ogg
Games/UTY122/mus/quietstray.ogg
Games/UTY122/mus/relaxation.ogg
Games/UTY122/mus/remedy.ogg
Games/UTY122/mus/renewed.ogg
Games/UTY122/mus/ruins_yellow.ogg
Games/UTY122/mus/sadlo.ogg
Games/UTY122/mus/sheriffs_fate.ogg
Games/UTY122/mus/shimmer.ogg
Games/UTY122/mus/shop.ogg
Games/UTY122/mus/showdown.ogg
Games/UTY122/mus/shuffling1.ogg
Games/UTY122/mus/shuffling2.ogg
Games/UTY122/mus/shuffling3.ogg
Games/UTY122/mus/snoring_justice.ogg
Games/UTY122/mus/snow.ogg
Games/UTY122/mus/snowfall.ogg
Games/UTY122/mus/some_point_of_no_return.ogg
Games/UTY122/mus/soulmate_located.ogg
Games/UTY122/mus/spook.ogg
Games/UTY122/mus/starlo_entrance.ogg
Games/UTY122/mus/steamworks_overworld.ogg
Games/UTY122/mus/sunnyside_ranch.ogg
Games/UTY122/mus/the_straw.ogg
Games/UTY122/mus/the_trek.ogg
Games/UTY122/mus/the_wandering.ogg
Games/UTY122/mus/the_wild_east_barn.ogg
Games/UTY122/mus/the_wild_east_hospital.ogg
Games/UTY122/mus/the_wild_east_house.ogg
Games/UTY122/mus/the_wild_east_jail.ogg
Games/UTY122/mus/the_wild_east_sleepy.ogg
Games/UTY122/mus/the_wild_east.ogg
Games/UTY122/mus/through_the_macro_lens.ogg
Games/UTY122/mus/train_trouble_2.ogg
Games/UTY122/mus/train_trouble.ogg
Games/UTY122/mus/trampled_flowers.ogg
Games/UTY122/mus/trapdoor.ogg
Games/UTY122/mus/treading_lightly.ogg
Games/UTY122/mus/trial_by_fury_2.ogg
Games/UTY122/mus/trial_by_fury.ogg
Games/UTY122/mus/tucked_in.ogg
Games/UTY122/mus/uhoh.ogg
Games/UTY122/mus/UNDERTALE_oogloop.ogg
Games/UTY122/mus/unforgiving.ogg
Games/UTY122/mus/vigorous_terrain.ogg
Games/UTY122/mus/vsasgore.ogg
Games/UTY122/mus/well_be_okay.ogg
Games/UTY122/mus/wind.ogg
Games/UTY122/snd/axis_flashlight.ogg
Games/UTY122/snd/clover_jump_dunes.ogg
Games/UTY122/snd/doorclose.ogg
Games/UTY122/snd/doorlock.ogg
Games/UTY122/snd/elevator_long.ogg
Games/UTY122/snd/fall2.ogg
Games/UTY122/snd/flame_loop.ogg
Games/UTY122/snd/mail_jingle_alt.ogg
Games/UTY122/snd/manta_sail.ogg
Games/UTY122/snd/microsprings_froggits.ogg
Games/UTY122/snd/mo_pop.ogg
Games/UTY122/snd/pinkgoo_move.ogg
Games/UTY122/snd/pops_deflate.ogg
Games/UTY122/snd/sandstorm.ogg
Games/UTY122/snd/snowdin_bridge.ogg
Games/UTY122/snd/wild_east_shocking_sound.ogg
Games/UTY122/snd/wood_flowey.ogg
Games/UTY122/snd/wood_pull.ogg
Games/UTY122/snd/wood_zap.ogg
Games/UTYDemo11/D3DX9_43.dll
Games/UTYDemo11/data.win
Games/UTYDemo11/mus_battle1.ogg
Games/UTYDemo11/mus_coolestcave.ogg
Games/UTYDemo11/mus_credits.ogg
Games/UTYDemo11/mus_cymbal.ogg
Games/UTYDemo11/mus_dalv.ogg
Games/UTYDemo11/mus_dalventertainer.ogg
Games/UTYDemo11/mus_dalvopening.ogg
Games/UTYDemo11/mus_darkruins.ogg
Games/UTYDemo11/mus_decibat.ogg
Games/UTYDemo11/mus_fallendownyellow.ogg
Games/UTYDemo11/mus_flowey.ogg
Games/UTYDemo11/mus_funsized.ogg
Games/UTYDemo11/mus_genobattle.ogg
Games/UTYDemo11/mus_intro.ogg
Games/UTYDemo11/mus_intronoise.ogg
Games/UTYDemo11/mus_justice.ogg
Games/UTYDemo11/mus_menu2.ogg
Games/UTYDemo11/mus_null.ogg
Games/UTYDemo11/mus_prebattle1.ogg
Games/UTYDemo11/mus_ruins_yellow.ogg
Games/UTYDemo11/mus_spook.ogg
Games/UTYDemo11/mus_startmenu.ogg
Games/UTYDemo11/mus_wind.ogg
.gitignore
